*{
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  font-family: 'Roboto';

}
html,body{
  width: 100%;
  height: 100vh;
  min-width: 300px;
}
.space{
  height: 30px;
}
#navbar{
  width: 100%;
  height: auto;
  background: white;
  color: black;
  opacity: 0.8;
  position: fixed;
  z-index: 1;

}

ul{
  padding-left: 5px;
  list-style: none;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

a{
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}
a:hover{
  transform: scale(1.2);

}
li{

  margin: 3.5px 5px;
  padding: 10px;
  color: black;
  font-size: 20px;
}


.li{
  width: 155px;
}


#overview{
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-attachment: fixed;
  padding-top: 10px;
}
@media only screen and (max-width: 500px) {

 li{
   margin: 0;
   padding-right: 17px;
    padding-left: 0;
 }

 .li{
   padding-left: 20px;
   padding-right: 0px;
   margin: 3.5px 0px;
   width: 105px;
 }

 #overview{
   padding-top: 60px;
 }

}
.img{
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.8;
  background-attachment: fixed;

}

#img{
  padding-top: 33px;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.8;
  background-attachment: fixed;
  height: 100%;
}

.span{
  background-color: white;
  position: absolute;
  color: black;
  margin-top: 30px;
  padding: 20px;
  border : 3px solid white;
}

#the-echo{
  background: white;
  height: auto;

}
#one{
  height: 60px;
}
.head{
  color: #fff;
  background-color: black;
  border: solid black 3px;
  font-size: 40px;
  padding: 20px;
  margin-top: 70px;

}

.cont-head{
  color: black;
  font-size: 30px;
  padding: 30px;

}
.cont-1, .cont-2{
  color: black;
  font-size: 18px;
  padding: 30px;
  /* width: 50%; */
}
.cont-2{
  padding-top: 0px;
}
.flex-p{
  display: block;
  align-items: center;
}
#skills{
  padding-top: 50px;
  height: auto;
}
#specs{
  padding-top: 30px;
  height: auto;
}

#footer{
  background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
	background-size: 400% 400%;
	-webkit-animation: Gradient 15s ease infinite;
	-moz-animation: Gradient 15s ease infinite;
	animation: Gradient 15s ease infinite;
  color: white;
  padding: 20px;
}

@-webkit-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@-moz-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}
.footer{
  font-size: 20px;

}
